@charset "utf-8";

*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
}

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}

body {
	background-color: #fdfdfd;
	position:relative;
	width: 100%;
}

ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	padding: 0;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}

a img{
	border: none 0px #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}


/******  Shared  *******************************************************/
header {
	top: 0;
	width: 100%;
	z-index: 1000;
	border-bottom: 1px solid #d9d9d9;
	background-color: #252831;
	text-align:center;

}

header h1 {
	margin: auto;
}


header h1 a {
	color: #fff;
	font-size: 14pt;
	font-weight: 200;
	letter-spacing: 10px;
	text-transform: uppercase;
	margin: 0;
}

/*Hide accessibility back to top link */
.hidden-element {
	left: -200px;
	position: relative;
}

#footer {
	background-color: #444;
	color: #aaa;
	font-size: 8pt;
	letter-spacing: 1px;
	padding: 25px;
	text-align: center;
	text-transform: uppercase;
}


/******  Search/Filter Page  *******************************************/
.search-wrapper {
	margin: 0 auto 0 auto;
	display: inline-grid;
	width: 100%;
	grid-template-columns: 20% 20% 20% 20% 20%;
	grid-template-rows:  auto;
	grid-template-areas:
		"filterv filterv filterv mapv mapv"
		"list list list mapv mapv";
}

.search-filter-box {
	margin: auto;
}

.search-filter {
	grid-area: filterv;
	display: flex;
	width: 100%;
	height: auto;
	background-color: #3397DB;
	align-items: center;
}

.search-filter h2 {
	color: white;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1;
	margin: 0 20px;
}

.search-filter select {
	background-color: white;
	border: 1px solid #fff;
	font-family: Arial,sans-serif;
	font-size: 11pt;
	height: 48px;
	letter-spacing: 0;
	margin: 20px;
	padding: 0 10px;
	width: 200px;
}

.search-map-grid {
	grid-area: mapv;
}

.search-map {
	height: 80vh;
	width: 100%;
}

.my-well {
	min-height: 20px;
	padding: 19px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	width: 100%;
	display: flex;
	transition: background-color .25s ease;
}

.my-well:hover {
	background: #E9E9E9;
	transition: 0.25s ease;
}

.search-restaurants-list {
	grid-area: list;
}

.restaurants-list-wrapper {
	grid-gap: 10px;
	grid-template-columns: 1fr 3fr;
	overflow-y: auto;
	max-height: 800px;
}

.restaurants-list-wrapper img {
	object-fit: cover;
	max-height: 100%;
}

.restaurants-list-wrapper li h2 {
	color: #f18200;
	font-family: Arial,sans-serif;
	font-size: 14pt;
	font-weight: 200;
	letter-spacing: 0;
	line-height: 1.3;
	text-transform: uppercase;
}

.restaurants-list-wrapper p {
	margin: 0;
	font-size: 11pt;
}

.restaurants-list-wrapper li button {
	background-color: orange;
	color: #fff;
	display: inline-block;
	font-size: 10pt;
	margin: 15px 0 0;
	padding: 8px 30px 10px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	border: none;
}

.restaurants-list-info {
	grid-column: 1;
	margin-left: 15px;
}

.restaurants-list-imgbox {
	grid-column: 2;
	height: 150px;
}


/******  Details/Reviews Page  *****************************************/
.detail-wrapper {
	background-color: #f3f3f3;
	margin: 0 auto 0 auto;
	display: inline-grid;
	width: 100%;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows:  auto;
	grid-template-areas:
		"details details map map"
		"review review review review";
}

.detail-details {
	grid-area: details;
	padding: 0 20px 30px;
}

#restaurant-name {
	color: #f18200;
	font-family: Arial,sans-serif;
	font-size: 20pt;
	font-weight: 200;
	letter-spacing: 0;
	margin: 15px 0 20px;
	text-transform: uppercase;
	line-height: 1.1;
}

#restaurant-img {
	width: 90%;
}

#restaurant-address {
	font-size: 12pt;
	margin: 10px 0px;
}

#restaurant-cuisine {
	background-color: #333;
	color: #ddd;
	font-size: 12pt;
	font-weight: 300;
	letter-spacing: 10px;
	margin: 0 0 20px;
	padding: 2px 0;
	text-align: center;
	text-transform: uppercase;
	width: 90%;
}

.detail-map {
	grid-area: map;
	margin: 15px 0 0;
	padding: 0 20px 30px;
}

.detail-review {
	grid-area: review;
}



.reviews-wrapper {
	border-top: 1px solid #fff;
	padding: 0 20px 0;
	width: 100%;
}

.reviews-wrapper h2, .reviews-wrapper h3 {
	color: #f58500;
	font-size: 24pt;
	font-weight: 300;
	letter-spacing: -1px;
	padding-bottom: 1pt;
}

.reviews-wrapper li {
	background-color: #fff;
	border: 2px solid #f3f3f3;
	display: block;
	list-style-type: none;
	margin: 0 0 30px;
	overflow: hidden;
	padding: 0 20px 20px;
	position: relative;
	width: 100%;
}

.reviews-wrapper li p {
	margin: 0 0 10px;
}

#restaurant-hours td {
	color: #666;
}


/******  Details/Reviews Page - Navigation  ****************************/
nav {
	width: 100%;
	height: 40px;
	background-color: #252831;
	text-align: left;
}

nav h1 {
	/*margin: auto;*/
}

nav h1 a {
	color: #fff;
	font-size: 14pt;
	font-weight: 200;
	letter-spacing: 10px;
	text-transform: uppercase;
}

#breadcrumb {
	padding: 10px 20px 10px;
	list-style: none;
	background-color: #eee;
	font-size: 17px;
	margin: 0;
	width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
	display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
	padding: 8px;
	color: black;
	content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
	color: #0275d8;
	text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
	color: #01447e;
	text-decoration: underline;
}


/******  Media Breaks  *************************************************/
@media screen and (max-width: 799px) {    /*main page*/
	.search-wrapper {
		grid-template-areas:
			"filterv filterv filterv filterv filterv"
			"mapv mapv mapv mapv mapv"
			"list list list list list";
	}

	.search-map {
		height: 50vh;
		width: 100%;
	}

	.detail-wrapper {
		grid-template-areas:
			"details details details details"
			"map map map map"
			"review review review review";
	}
}

@media screen and (max-width: 480px) {
	.detail-details {
		width: 100%;
	}

	.detail-map {
		margin: 0;
	}

	nav h1 a {
		font-size: .75em;
	}

	.filter-options {
		display: inline-grid;
		padding: 10px 0;
	}

	.filter-options select {
		margin: 10px auto;
	}

	.search-filter-box {
		display: grid;
	}

	.restaurants-list-imgbox {
		height: 0;
	}
}
